- var lang = locals.language
- var viewport = locals.viewport

title!= title

- var favicon = locals.favicon
link(rel="shortcut icon",href=favicon,type="image/x-icon")
link(rel="apple-touch-icon",href=favicon)

- var scripts = locals.scripts || [];
- var styles = locals.styles || [];

each url in scripts
	script(type='text/javascript',src=url)
each url in styles
	link(rel='stylesheet',href=url)
